body {
  /* Dynamic viewport height — учитывает панели браузера */
  /* min-height: 100dvh; */
  margin: 0;
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background);
  border: 8px solid #030303;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
  /* Важно! */
}